<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /schoolManagement/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /schoolManagement/index.php [L]
</IfModule>